[Unit]
Description=PipeWireAO Socket

[Socket]
Priority=6
ListenStream=%t/pipewire-ao/pipewire-ao
SocketUser=pipewire
SocketGroup=pipewire
SocketMode=0660

[Install]
WantedBy=sockets.target
